<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.TestListener">
        </listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="BasicInformationPageTest">
        <classes>
            <class name="UpgradeUI.BasicInformationPageTest">
                <methods>
                    <include name="testValidBasicInformation"/>
                    <include name="testInValidDOB"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>